@import url("css-1.css");
.sm-blue {
  background: transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  width: 148px;
  /* make room for the toggle button (sub indicator) */
  background: #006600;
  background-image: url("");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007000), color-stop(100%, #005c00));
  background-image: -moz-linear-gradient(top, #007000, #005c00);
  background-image: -webkit-linear-gradient(top, #007000, #005c00);
  background-image: linear-gradient(to bottom, #007000, #005c00);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  text-decoration: none;
  text-shadow: none;
}
.sm-blue a.current {
  background: #005500;
  background-image: url("");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004b00), color-stop(100%, #005f00));
  background-image: -moz-linear-gradient(top, #004b00, #005f00);
  background-image: -webkit-linear-gradient(top, #004b00, #005f00);
  background-image: linear-gradient(to bottom, #004b00, #005f00);
  color: #fff;
}
.sm-blue a.disabled {
  color: lime;
}
.sm-blue a span.sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: auto;
  right: 2px;
  width: 19px;
  height: 19px;
  overflow: hidden;
  font: bold 10px/16px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.sm-blue a.highlighted span.sub-arrow:before {
  display: block;
  content: '-';
}
.sm-blue > li:first-child > a, .sm-blue > li:first-child > :not(ul) a {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.sm-blue > li:last-child > a, .sm-blue > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul, .sm-blue > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 4px;
}
.sm-blue > li:last-child > a.highlighted, .sm-blue > li:last-child > *:not(ul) a.highlighted, .sm-blue > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.sm-blue ul {
  background: #fff;
}
.sm-blue ul ul {
  background: rgba(102, 102, 102, 0.1);
}
.sm-blue ul a, .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active {
  background: transparent;
  color: #004d00;
  font-size: 10px;
  text-shadow: none;
  border-left: 8px solid transparent;
}
.sm-blue ul a.current {
  background: #005500;
  background-image: url("");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004b00), color-stop(100%, #005f00));
  background-image: -moz-linear-gradient(top, #004b00, #005f00);
  background-image: -webkit-linear-gradient(top, #004b00, #005f00);
  background-image: linear-gradient(to bottom, #004b00, #005f00);
  color: #fff;
}
.sm-blue ul a.disabled {
  color: #b3b3b3;
}
.sm-blue ul ul a,
.sm-blue ul ul a:hover,
.sm-blue ul ul a:focus,
.sm-blue ul ul a:active {
  border-left: 16px solid transparent;
}
.sm-blue ul ul ul a,
.sm-blue ul ul ul a:hover,
.sm-blue ul ul ul a:focus,
.sm-blue ul ul ul a:active {
  border-left: 24px solid transparent;
}
.sm-blue ul ul ul ul a,
.sm-blue ul ul ul ul a:hover,
.sm-blue ul ul ul ul a:focus,
.sm-blue ul ul ul ul a:active {
  border-left: 32px solid transparent;
}
.sm-blue ul ul ul ul ul a,
.sm-blue ul ul ul ul ul a:hover,
.sm-blue ul ul ul ul ul a:focus,
.sm-blue ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}
.sm-blue ul li {
  border-top: 1px solid black;
}
.sm-blue ul li:first-child {
  border-top: 0;
}

@media (min-width: 700px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-blue ul {
    position: absolute;
    width: 12em;
  }

  .sm-blue li {
    float: left;
  }

  .sm-blue.sm-rtl li {
    float: right;
  }

  .sm-blue ul li, .sm-blue.sm-rtl ul li, .sm-blue.sm-vertical li {
    float: none;
  }

  .sm-blue a {
    white-space: nowrap;
  }

  .sm-blue ul a, .sm-blue.sm-vertical a {
    white-space: normal;
  }

  .sm-blue .sm-nowrap > li > a, .sm-blue .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  .sm-blue {
    background: #006600;
    background-image: url("");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007000), color-stop(100%, #005c00));
    background-image: -moz-linear-gradient(top, #007000, #005c00);
    background-image: -webkit-linear-gradient(top, #007000, #005c00);
    background-image: linear-gradient(to bottom, #007000, #005c00);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active, .sm-blue a.highlighted {
    background: #006600;
    background-image: url("");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007000), color-stop(100%, #005c00));
    background-image: -moz-linear-gradient(top, #007000, #005c00);
    background-image: -webkit-linear-gradient(top, #007000, #005c00);
    background-image: linear-gradient(to bottom, #007000, #005c00);
    color: #fff;
  }
  .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active, .sm-blue a.highlighted {
    background: #004d00;
    background-image: url("");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #005700), color-stop(100%, #004200));
    background-image: -moz-linear-gradient(top, #005700, #004200);
    background-image: -webkit-linear-gradient(top, #005700, #004200);
    background-image: linear-gradient(to bottom, #005700, #004200);
  }
  .sm-blue a.current {
    background: #005500;
    background-image: url("");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004b00), color-stop(100%, #005f00));
    background-image: -moz-linear-gradient(top, #004b00, #005f00);
    background-image: -webkit-linear-gradient(top, #004b00, #005f00);
    background-image: linear-gradient(to bottom, #004b00, #005f00);
    color: #fff;
  }
  .sm-blue a.disabled {
    background: #006600;
    background-image: url("");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007000), color-stop(100%, #005c00));
    background-image: -moz-linear-gradient(top, #007000, #005c00);
    background-image: -webkit-linear-gradient(top, #007000, #005c00);
    background-image: linear-gradient(to bottom, #007000, #005c00);
    color: lime;
  }
  .sm-blue a span.sub-arrow {
    top: auto;
    margin-top: 0;
    bottom: 2px;
    left: 50%;
    margin-left: 0px;
    right: auto;
    width: 0;
    height: 0;
    border-width: 0px;
    border-style: solid dashed dashed dashed;
    border-color: white transparent transparent transparent;
    background: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .sm-blue a.highlighted span.sub-arrow:before {
    display: none;
  }
  .sm-blue > li:first-child > a, .sm-blue > li:first-child > :not(ul) a {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
  }
  .sm-blue > li:last-child > a, .sm-blue > li:last-child > :not(ul) a {
    -moz-border-radius: 0 4px 4px 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0 !important;
  }
  .sm-blue > li {
    border-left: 3px solid white;
  }
  .sm-blue > li:first-child {
    border-left: 0;
  }
  .sm-blue ul {
    border: 1px solid white;
    padding: 2px 0;
    background: #fff;
    -moz-border-radius: 0 0 4px 4px !important;
    -webkit-border-radius: 0;
    border-radius: 0 0 4px 4px !important;
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .sm-blue ul ul {
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px;
    border-radius: 4px !important;
    background: #fff;
  }
  .sm-blue ul a, .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active, .sm-blue ul a.highlighted {
    border: 0 !important;
    padding: 4px 10px;
    background: transparent;
    color: #004d00;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0 !important;
  }
  .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active, .sm-blue ul a.highlighted {
    background: #006600;
    background-image: url("");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007000), color-stop(100%, #005c00));
    background-image: -moz-linear-gradient(top, #007000, #005c00);
    background-image: -webkit-linear-gradient(top, #007000, #005c00);
    background-image: linear-gradient(to bottom, #007000, #005c00);
    color: #fff;
  }
  .sm-blue ul a.current {
    background: #005500;
    background-image: url("");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004b00), color-stop(100%, #005f00));
    background-image: -moz-linear-gradient(top, #004b00, #005f00);
    background-image: -webkit-linear-gradient(top, #004b00, #005f00);
    background-image: linear-gradient(to bottom, #004b00, #005f00);
    color: #fff;
  }
  .sm-blue ul a.disabled {
    background: #fff;
    color: #b3b3b3;
  }
  .sm-blue ul a span.sub-arrow {
    top: 50%;
    margin-top: -5px;
    bottom: auto;
    left: auto;
    margin-left: 0;
    right: 10px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent white;
  }
  .sm-blue ul li {
    border: 0;
  }
  .sm-blue span.scroll-up,
  .sm-blue span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: #fff;
    height: 20px;
  }
  .sm-blue span.scroll-up-arrow, .sm-blue span.scroll-down-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #004d00 transparent;
  }
  .sm-blue span.scroll-down-arrow {
    top: 6px;
    border-style: solid dashed dashed dashed;
    border-color: #004d00 transparent transparent transparent;
  }
  .sm-blue.sm-rtl.sm-vertical a span.sub-arrow {
    right: auto;
    left: 10px;
    border-style: dashed solid dashed dashed;
    border-color: transparent white transparent transparent;
  }
  .sm-blue.sm-rtl > li:first-child > a, .sm-blue.sm-rtl > li:first-child > :not(ul) a {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
  }
  .sm-blue.sm-rtl > li:last-child > a, .sm-blue.sm-rtl > li:last-child > :not(ul) a {
    -moz-border-radius: 4px 0 0 4px !important;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px !important;
  }
  .sm-blue.sm-rtl > li:first-child {
    border-left: 2px solid white;
  }
  .sm-blue.sm-rtl > li:last-child {
    border-left: 0;
  }
  .sm-blue.sm-rtl ul a span.sub-arrow {
    right: auto;
    left: 10px;
    border-style: dashed solid dashed dashed;
    border-color: transparent white transparent transparent;
  }
  .sm-blue.sm-vertical {
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  .sm-blue.sm-vertical a {
    padding: 9px 23px;
  }
  .sm-blue.sm-vertical a span.sub-arrow {
    top: 50%;
    margin-top: -5px;
    bottom: auto;
    left: auto;
    margin-left: 0;
    right: 10px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent white;
  }
  .sm-blue.sm-vertical > li:first-child > a, .sm-blue.sm-vertical > li:first-child > :not(ul) a {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
  }
  .sm-blue.sm-vertical > li:last-child > a, .sm-blue.sm-vertical > li:last-child > :not(ul) a {
    -moz-border-radius: 0 0 4px 4px !important;
    -webkit-border-radius: 0;
    border-radius: 0 0 4px 4px !important;
  }
  .sm-blue.sm-vertical > li {
    border-left: 0 !important;
  }
  .sm-blue.sm-vertical ul {
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px;
    border-radius: 4px !important;
  }
  .sm-blue.sm-vertical ul a {
    padding: 4px 12px;
  }
}
  #main-menu li li a {
	text-align: left;
	margin-right:18px;
}

